<br>
<!-- Dane -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-insurance">
      <div class="panel-heading">
        <div class="panel-title">
	        <span class="glyphicon glyphicon-file"><%= t(' New Insurance', default: t("pages.insurance_new")) %></span>    
        </div>
      </div>
        <div class="panel-body">
          <div class="col-sm-1">
	        	<h1><span class="glyphicon glyphicon-plus"></span></h1> 
          </div> <!--/col-sm-1-->

          <div class="col-sm-11">
            <%= render 'form', duplicate_insurance: duplicate_insurance %> <!--param from controller-->
          </div> <!--/col-sm-11 col-sm-offset-1-->
    
        </div>
    </div> <!-- /panel -->
  </div> <!-- /col-sm-12-->
</div> <!-- /row -->

