<div class="col-sm-12">
  <div class="row">  <!--row -->
    <div class="col-sm-2">
      <div class="btn-group-vertical" id="btn-group-prnscope" data-toggle="buttons">
        <label class="btn btn-default active" value="A">
          <input type="radio" name="btns" id="option1" autocomplete="off"checked >Włączenia
        </label>
        <label class="btn btn-default" value="B">
          <input type="radio" name="btns" id="option2" autocomplete="off" >Wszystko
        </label>
      </div>
      <input type="hidden" name="prnscopevalue" id="prnscopevalue" value="A"/>

    </div>

    <div class="col-sm-10">
      <blockquote>
        <h5>Część wydruków może być generowana jako pełne zestawienie danych (<strong>"Wszystko"</strong>) lub z zakresem ograniczonym tylko do pozycji nowych/zmodyfikowanych względem wcześniejszej rotacji (<strong>"Włączenia"</strong>).<br> 
        Wybierając przełącznikiem odpowiedni zakres skracasz również czas generowania raportu.</h5>
      </blockquote>
    </div>  <!-- /.col-sm-12 -->

  </div>

  <hr>

  <div class="row">  <!--dla Agenta -->
    <div class="col-sm-2">
      <p class="lead">dla Agenta</p>
    </div><!-- /.col-sm-2 -->

    <div class="col-sm-2">
      <%= link_to image_tag("list_insureds_nnw2.png", :class => "img-thumbnail" ), 
            pdf_list_insureds_family_path(@family, :format => "pdf"), 
            :target => "_blank" %>  

      <h5>Lista ubezpieczonych</h5>
      <h5><span class="text-muted">- ostatnia rotacja</span></h5>
    </div><!-- /.col-sm-2 -->


    <div class="col-sm-2" id="checked-scope-prn">
      <div class="folded"><h3>Włączenia</h3></div>
      <%= link_to image_tag("declarations_family_accession.png", :class => "img-thumbnail" ), 
            pdf_declarations_accession_family_path(@family, :format => "pdf"), 
            :target => "_blank" %>  

      <h5>Deklaracje przystąpienia do ubezpieczenia</h5>
      <h5><span class="text-muted">- ostatnia rotacja</span></h5>
    </div><!-- /.col-sm-2 -->


  </div class="row">  <!--/dla Agenta -->



  <hr>

  <div class="row">  <!--dla Firmy -->
    <div class="col-sm-2">
      <p class="lead">dla Firmy</p>
    </div><!-- /.col-sm-2 -->

    <div class="col-sm-2">
      <%= link_to image_tag("list_payers.png", :class => "img-thumbnail" ), 
            pdf_list_payers_family_path(@family, :format => "pdf"), 
            :target => "_blank" %>  

      <h5>Lista płatników</h5>
      <h5><span class="text-muted">- ostatnia rotacja</span></h5>
    </div><!-- /.col-sm-2 -->

    <div class="col-sm-2">
      <%= link_to image_tag("declarations_payers.png", :class => "img-thumbnail" ), 
            pdf_declarations_payers_family_path(@family, :format => "pdf"), 
            :target => "_blank" %>  

      <h5>Oświadczenia płatników o potrącaniu składki</h5>
      <h5><span class="text-muted">- ostatnia rotacja</span></h5>
    </div><!-- /.col-sm-2 -->
  </div class="row">  <!--/dla Firmy -->





</div> <!--/col-sm-12 -->
