<br>

<ol class="breadcrumb">
  <li><%= link_to @family.company.short, company_path(@family.company_id), 
                      :"data-toggle" => "popover_info",
                      :"title" => "#{@family.company.short}",
                      :"data-content" => "#{@family.company.for_popover_data}",
                      :"data-placement" => "bottom" %></a></li>
  <li class="active"><%= @family.number %></li>
</ol> <!-- /breadcrumb -->

<!-- Dane -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-family">
      <div class="panel-heading">
        <div class="panel-title">
	        <span class="glyphicon glyphicon-file">  <%= @family.fullname %></span>    
        </div>
      </div>
        <div class="panel-body">
          <div class="col-sm-1">
	        	<h1><span class="glyphicon glyphicon-edit"></span></h1> 
          </div> <!--/col-sm-1-->

          <div class="col-sm-11">
            <%= render 'form' %><!--param from controller-->
          </div> <!--/col-sm-11 col-sm-offset-1-->
    
        </div>
    </div> <!-- /panel -->
  </div> <!-- /col-sm-12-->
</div> <!-- /row -->

