<div class="container">
	<div class="col-sm-10 clearfix">
		<div id='calendar'></div>
	</div>	

	<div class="col-sm-2 clearfix">

		<br>
		<% if user_signed_in? %>
		  <%= link_to t('New', default: t("helpers.links.new")), new_event_path, 
	                        :class => 'btn btn-primary glyphicon glyphicon-plus ' %> 

	  <% end %>
	</div>	
</div>	
