<br>
<!-- Dane -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">
          <span class="glyphicon glyphicon-calendar">  <%= @event.title %></span>
        </div> 
      </div>
      <div class="panel-body">         
        <div class="col-sm-11 col-sm-offset-1">

          <%= render 'form_show', input_disabled: true %>

        </div> <!--/col-sm-11 col-sm-offset-1-->    
      </div> <!-- /panel-body -->
    </div> <!-- /panel -->
  </div> <!-- /col-sm-12-->
</div> <!-- /row -->
