$font-family-base: Arial, "Helvetica", sans-serif;
$font-size-base: 14px;

// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

@import "fullcalendar";


//table.dataTable thead .sorting_asc { background: none }
//table.dataTable thead .sorting_desc { background: none }
//table.dataTable thead .sorting { background: none }

// blokuje wyswietlanie icon 
//.dataTable > thead > tr > th[class*="sort"]:after{
//    content: "" !important;
//}

.dataTable > thead > tr > th[class*="sorting_asc"]:after{
  color: #337ab7 !important;
  opacity: 1;
}
.dataTable > thead > tr > th[class*="sorting_desc"]:after{
  color: #337ab7 !important;
  opacity: 1;
}

body {
  background-color: #eee;
  line-height: 1em;
}

h5 {
  margin-top: 0em;
  margin-bottom: 1.1em;
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}


hr {
  //border-color: red;
  margin-top: 3px;  /*default: 20px; */
  margin-bottom: 15px;
}

#myaccordion {
  background-color: #eee;
}


.panel-company {
  border-color: #ddd  
}
.panel-company > .panel-heading {
  background: #5d719e; 
  color: white; 
  //opacity: 0;
}

.panel-individual {
  border-color: #ddd  
}
.panel-individual > .panel-heading {
  background: #616aa2; //#5E703F; 
  color: white; 
}

.panel-insurance {
  border-color: #ddd  
}
.panel-insurance > .panel-heading {
  background: #528394;  
  color: white; 
}

.panel-family {
  border-color: #ddd  
}
.panel-family > .panel-heading {
  background: #89877a;
  color: white; 
}

.panel-group {
  border-color: #ddd  
}
.panel-group > .panel-heading {
  background: #4f8989; //#98b9c4;
  color: white; 
}

.panel-rotation {
  border-color: #ddd  
}
.panel-rotation > .panel-heading {
  background: #a4bacc;
  color: white; 
}

.panel-discount {
  border-color: #ddd  
}
.panel-discount > .panel-heading {
  background: #4E7F5F; //#7fc196;
  color: white; 
}

.panel-coverage {
  border-color: #ddd  
}
.panel-coverage > .panel-heading {
  background: #529889; 
  color: white; 
}

.panel-print {
  border-color: #ddd  
}
.panel-print > .panel-heading {
  background: #d3c6c6;
  color: white; 
}


.breadcrumb {
  margin-top: -9px;
  margin-bottom: 1px;	
  background-color: #eee;
}

.popover-title {
    color: white;
    background-color: #00AB92; //#E4FDE4; //#D5D5D5; //#00A2B7; //#555;
    font-size: 16px;
}
.popover-content {
    color: #555;
    background-color: #F8F8F8; //#E4FDE4; #dff0d8;
    font-size: 14px;
}



//@brand-primary: #428bca;
//@brand-success: #5cb85c;
//@brand-info:    #5bc0de;
//@brand-warning: #f0ad4e;
//@brand-danger:  #d9534f;

//default color for navbar-default
//#F8F8F8 : navbar background
//#E7E7E7 : navbar border
//#777 : default color
//#333 : hover color (#5E5E5E for .nav-brand)
//#555 : active color
//#D5D5D5 : active background

$NavbarBackground       : #F8F8F8;    /*#F8F8F8 : navbar background */ 
$NavbarBorder           : #E7E7E7;    /*#E7E7E7 : navbar border */ 
$NavbarDefaultColor     : #777;       /*#777 : default color */ 
$NavbarHoverColor       : #2F1515;    /*#333 : hover color (#5E5E5E for .nav-brand) */ 
$NavbarBrandBackground  : #BBB;       /* */ 
$NavbarBrandHoverColor  : #FFF;      /*#333 : hover color (#5E5E5E for .nav-brand) */ 
$NavbarBrandHoverBackground  : darkred;    /*#333 : hover color (#5E5E5E for .nav-brand) */ 
$NavbarActiveColor      : #555;       /*#555 : active color */ 
$NavbarActiveBackground : #D5D5D5;    /*#D5D5D5 : active background */ 
$MobilBackground        : #DDD;       /*#DDD  */ 
$MobilIcon              : #CCC;       /*#CCC : navbar background */ 
$MobilBorderIcon        : #DDD;       /*#DDD  */ 
$MobilColor             : #777;      
$MobilHoverColor        : #2F1515;     
$FooterBackground       : #F8F8F8;  
$FooterColor            : #777;  
$FooterBorder           : #E7E7E7;        

/* navbar */
.navbar-default {
    background-color: $NavbarBackground;
    border-color: $NavbarBorder;
    font-size: 16px;
    height: 52px;
}
/* title */
.navbar-default .navbar-brand {
    color: $NavbarDefaultColor;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: $NavbarBrandHoverColor;
    background-color: $NavbarBrandHoverBackground;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: $NavbarDefaultColor;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: $NavbarHoverColor;
    border-bottom: solid;
    border-bottom-width: 1px;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: $NavbarActiveColor;
    background-color: $NavbarBorder;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: $NavbarActiveColor;
    background-color: $NavbarActiveBackground;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: $NavbarDefaultColor;
    border-bottom-color: $NavbarDefaultColor;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: $NavbarHoverColor;
    border-bottom-color: $NavbarHoverColor;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: $NavbarActiveColor;
    border-bottom-color: $NavbarActiveColor;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: $MobilBorderIcon;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: $MobilBackground;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: $MobilIcon;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $NavbarDefaultColor;
    }

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a {
    color: $MobilColor;
    background-color: $MobilBackground;
    }

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:hover {
    color: $MobilHoverColor;
    background-color: $MobilBackground;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: $NavbarHoverColor;
    }
}



// override for the 'Home' navigation link
.navbar-brand {
/*    font-size: inherit; */
    font-size: 18px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
/*    background-image: url('logo100x50.png'); */
    background-color: $NavbarBrandBackground;
    width: 100px;      
    height: 50px;      
    left: 0px;
    top: 10px;
  }


footer{
  background-color: $FooterBackground;
  border-color: $FooterBorder;
  color: $FooterColor;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer .img-circle {
  border-radius: 50%;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 50px;
  font-size: 12px;
  width: 100%;
  margin-top: 52px; // accommodate the navbar 51, 52 if hover:border-bottom 
  }
section {
  @extend .row;
  margin-top: 20px;
  }

.authpanel {
  padding-top: 20px;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.authpanel fieldset {
  @extend .well;
}


#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}

.field_with_errors {
  @extend .has-error;
  display: inherit;
  background-color: inherit;
}


/* ----- Btn-group for ribbon -----------------------------------*/ 
$RibbonBackground : #5cb85c;

#btn-group-prnscope { 
  .btn.active, .btn:active {
    color: white;
    background-color: darken( $RibbonBackground, 10% );
  };
}

a .img-thumbnail {
    -webkit-box-shadow: 6px 6px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 6px 6px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 6px 6px 3px 0px rgba(50, 50, 50, 0.75);
}  

//a .img-thumbnail:hover {
//    -webkit-transform: scale3d(1.05, 1.05, 1);
//    -ms-transform: scale3d(1.05, 1.05, 1);
//    transform: scale3d(1.05, 1.05, 1);
//}

a .img-thumbnail:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


/* ----- Ribbon II Block ---------------------------------------*/ 

.folded h3 {
    background: $RibbonBackground;
    background-image: radial-gradient(transparent 30%, rgba(0, 0, 0, 0.2));
    border: 0 solid rgba(0,0,0,0.2);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.2);
}

.folded:before, div.folded:after {
    bottom: 26px;
    content: "";
    height: 28px;
    position: absolute;
    width: 48%;
    z-index: -1;
}
.folded:before {
    left: 2%;
    transform: rotate(-3deg);
}
.folded:after {
    right: 2%;
    transform: rotate(3deg);
}
.folded h3 {
    border-width: 1px 1px 2px;
    margin: 0;
    padding: 4px 40px;
    position: absolute;
    right: 2px;
    margin-top: -16px;
}
.folded h3:after {
    border-width: 7px;
    border-style: solid;
    border-color: #134 transparent transparent #134;
    bottom: -15px;
    content: "";
    position: absolute;
    right: -1px;
}


