    <div class="row">
      <div class="col-sm-7 col-sm-offset-3">
        <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#SpecialEdit">
          <%=t 'button_text.item.form.button_special_edit' %>
        </button>
      </div>
    </div><br>

    <div id="SpecialEdit" class="collapse">

    </div> <!--/id="SpecialEdit" -->
 