<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h5>Program Obsługi Polis:</h5>
          <ul><h6><i class="glyphicon glyphicon-envelope"> </i><a href="#">  pop.artex.soft@gmail.com </a></h6></ul>
          <ul><h6><i class="glyphicon glyphicon-earphone"></i> 601-333-456 </h6></ul>
      <h5>Serwis:</h5>
          <ul><h6><i class="glyphicon glyphicon-envelope"> </i><a href="#">  serwis.artex.soft@gmail.com </a></h6></ul>
          <ul><h6><i class="glyphicon glyphicon-earphone"></i> 601-600-601 </h6></ul>
    </div>
    <div class="col-sm-3">
      <h5>Zobacz też:</h5>
<!--        <ul><i class="fa fa-facebook"></i><a href="http://www.facebook.com/ziemiabydgoska"> www.facebook.com/ziemiabydgoska </a></ul>
        <ul><i class="fa fa-twitter"></i><a href="#"> Twitter </a></ul>
-->        <ul><i class="glyphicon glyphicon-globe"></i><a href="http://www.allianz.pl"> http://www.allianz.pl </a></ul>
    </div>
    <div class="col-sm-3">
      <%= image_tag("workers.jpg", :class => "img-circle img-responsive" ) %> 
    </div>
    <div class="col-sm-3">
      <h5>...z polisą NNW zawsze bezpieczniej</h5>
      <br>
      <br>
      <br>
      <br>
      <h5><small>&copy; Artex-Software 2014</small></h5>
    </div>
  </div>
</div>