<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h5>Program Obsługi Polis:</h5>
          <ul><h6><i class="glyphicon glyphicon-envelope"> </i><a href="#">  pop.artex.soft@gmail.com </a></h6></ul>
          <ul><h6><i class="glyphicon glyphicon-earphone"></i> 601-333-456 </h6></ul>
    </div>
    <div class="col-sm-3">
      <h5>Serwis:</h5>
          <ul><h6><i class="glyphicon glyphicon-envelope"> </i><a href="#">  artex.soft@gmail.com </a></h6></ul>

    </div>
    <div class="col-sm-3">
      <%= image_tag("workers.jpg", :class => "img-circle img-responsive" ) %> 
    </div>
    <div class="col-sm-3">
      <h5>...z polisą zawsze bezpieczniej</h5>
      <br>
      <br>
      <br>
      <br>
      <h5><small>&copy; Artex-Software 2014</small></h5>
    </div>
  </div>
</div>