<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to '('+ current_user.agent_number + ') '+ current_user.name, edit_user_registration_path %></li>
  <li><%= link_to t('devise.link_to.sign_out'), destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to t('devise.link_to.sign_in'), new_user_session_path %></li>
<% end %>
